@using Newtonsoft.Json
@using RebelTours.Management.Application

@model IEnumerable<StationSummary>

@if (TempData["CommandResult"] != null)
{
    var resultJson = (string)TempData["CommandResult"];
    var result = JsonConvert.DeserializeObject<CommandResult>(resultJson);

    // Aaşağıdaki gibi bir Extension metot yazılarak Json deserialize etme işlemi
    // pratikleştirilebilir
    // var result = TempData.Get<CommandResult>("CommandResult");

    <div class="row">
        <div class="col-12 col-md-8">
            <div class="alert @(result.IsSucceeded ? "alert-success": "alert-danger")">
                @(result.Messages.Any() ? result.Messages.First() : "Hata")
            </div>
        </div>
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    // TempData üzerinde taşınan bir anahtar kelime karşılığındaki verinin ömrü,
    // o anahtar kelimedeki veri okunana kadardır
    // Eğer veri hiç okunmazsa TempData üzerindeki o anahtar değer ve verisi muhafaza edilir.

    // Veri en az bir kez okunduğunda o anahtar kelime ve değeri TempData'dan silinmek üzere işaretlenir
    // Ve Response tamamlandıktan sonra anahtar ve değer silinir

    // Verinin okunması, get edilmesine örnek aşağıdaki kod
    //var message = TempData["SuccessMessage"];

    <div class="alert alert-success">
        @*
            HTML içerisine Razor expression yazarak TempData verisini görüntülemek de
            TempData verisinin okunması anlamına gelir
        *@
        @TempData["SuccessMessage"]
        @*@TempData.Peek("SuccessMessage")*@
        @*
            Peek(key) => Veriyi okuduktan sonra silinmek üzere işaretlenmesini istemiyorsan
                bu metot aracılığı ile okuyabilirsin

            Keep(key) => Veriyi normal yöntemle okuduktan sonra saklanmasını istiyorsanız
                bu metodu çağırabilirsiniz
        *@

        @{ 
            //TempData.Keep("SuccessMessage");
        }

    </div>
            }

<div class="row">
    <div class="col-12 col-md-8">

        <div class="float-right mb-3">
            <a class="btn btn-sm btn-info" asp-controller="Station" asp-action="Create">Yeni Station</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Terminal Adı</th>
                    <th>Şehir Adı</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var station in Model)
                {
                    <tr>
                        <td>@station.Id</td>
                        <td>@station.Name</td>
                        <td>@station.CityName</td>

                        <td>
                            <a class="text-danger" asp-controller="Station" asp-action="Delete" asp-route-id="@station.Id">Sil</a>
                            |
                            <a asp-controller="Station" asp-action="Update" asp-route-id="@station.Id">Düzenle</a>

                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>